body {
    justify-content: center;
}

.image {
    width: auto;
}

.image-hidden {
    display: none;
}

.image-shown {
    width: 400px;
}

.container {
    justify-content: center;
    align-items: center;
}

.file-input {
    width: auto;
}

.dayinput {
    height: 40px;
}

.table-container {
    margin-bottom: 10px;
}

.card {
    width: auto;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.field, .table-container {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.table-container {
    margin-top: 20px;
}

td {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    color: lightgray;
}

.button {
    margin: 4px;
}

.error-text {
    color: red;
}

.navbar {
    position: sticky;
    width: 100%;
    top: 0%;
}

.pagination-previous {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination-next {
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}