body {
    justify-content: center;
}

.image {
    width: auto;
}

.image-hidden {
    display: none;
}

.image-shown {
    width: 200px;
}

.container {
    justify-content: center;
    align-items: center;
}

.card {
    width: auto;
    margin: 100px;
    position: relative;
}

.input .textarea {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin: 20px;
    padding: 10px;
}

.button {
    margin: 4px;
}